.white{
    background: white;
}

.n2{
    margin-top: -30px;
}

.filterr{
    filter: grayscale(100%);
    
}

.filterrr{
    -webkit-filter: hue-rotate(-180deg) grayscale(50%);
    filter: hue-rotate(-180deg) grayscale(50%);
}

.slider-filter{
   -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(-100deg);
}


.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    /*color: #0062cc;*/
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: .8rem;
    padding: 1.5%;
    border: 1px solid #eaeaea;
    /*background: #21b18a;*/
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}


.render{
image-rendering: auto;
image-rendering: crisp-edges;
image-rendering: pixelated;
}

.text-color{
    color: #17a2b8;
}

.text-white{
    color: #21b18a;
}

.takfua-back{
    background-color: #17a2b8;
}

.btn-border{
    border-radius: 2px;
}

.radius-0{
    border-radius: 0;
}

.my-services{
    margin-top: 8px;
    margin-bottom: 8px;
}

.mt-3{
    padding-top: 40px;
}

.bg-takfua{
    background: #21b18a;
}

.mt-2{
    padding-top: 20px;
}

.mt-22{
    padding-top: 10px;
}

.ml-1{
    margin: 40px;
}

.ml-mr{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 45px;
    padding-right: 45px;
    color: #21b18a;
    border: none;
}

.ml-mrtag{
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 35px;
    padding-right: 35px;
    /*color: #21b18a;*/
    border: none;
}

.mt-4{
    padding-top: 25px;
}

.m-l{
    margin-left: 7%;
}

.img-profile{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.margin-25{
    margin-left: 30px;
    margin-right: 30px;
}

.margin-27{
    margin-left: 25px;
    margin-right: 25px;
}

.margin-post{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}

.font-large{
    font-size: 25px;
}

.margin-26{
    margin: 30px;
}

.margin-top{
    margin-top: 3%;
    margin-left: 28px;
}

.p-top30{
    padding-top: 35px;
}

.height{
    height: 30px;
}

.tag-bage{
    background: #e1e1e1;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 13px;
    margin: 1px;
}

.font-size{
    font-size: 13px;
}

.icon-font{
    font-size: 20px;
}

.border-r3{
    border-radius: 3px;
    background: #aac2d0;
    color: white;
}

.img-profile-nav{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.my-feed{
    border-left: 5px #21b18a solid;
    padding: 8px;
}

.left-items{
    padding: 12px;
}

.left-items-low{
    padding-left: 12px;
    padding-top: 8px;
}

.profile-imgr{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.pro-imgr{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-top: 2.5vw;
}

.pro-imgrw{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    /*margin-top: 2.5vw;*/
}
/*.my-p{
    margin-top: 16px;
    margin-left: 10px;
}*/

.own-promr{
    margin-left: 11%;
    margin-right: 11%;
}

.profile-name{
    font-size: 22px;
}

.side-conta{
    padding: 40px;
}

.bg-header{
    background-color: #f5f5f5;
}

.enter-conta{
    padding: 25px;
}

@media screen and (max-width: 600px) {
  #title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.btn-shadwo{
    box-shadow: 0.5px 0.5px 4px 4px #f0f0f0;
}

.main-shadwo{
    box-shadow: 0.5px 0.5px 4px 4px #c8c8c8;
}

.nmain-shadwo{
    box-shadow: 0.5px 0.5px 4px 4px #d3dfe5;
}

.top-p{
    padding-top:10px;
}

.mr-not{
    padding: 30px;
}

.p-top{
    padding-top: 25px;
}

#margin-footer{
    margin-bottom: 230px;
}

.my-active{
    background: #f7f7f7;
    border-left: 5px solid #21b18a;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #21b18a;
    font-size: 14px;
    font-weight: 500;
}

.my-activev{
    border-left: 5px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    font-size: 14px;
    font-weight: 500;  
}

.pad-b{
    padding-bottom: 25px;
}

.mr-top{
    margin-top:25px;
}

#margin-n{
    margin-top: -30px;
}

.padding-card{
    padding: 15px;
}

.margin-l{
    margin-left: 1%;
}

.mr-ai{
    padding: 8px;
}

.p-16{
    padding-top: 16px;
}

.ma-skills{
    margin: 4px;
    padding: 3px 10px 3px 10px;
}

.bgimage {
    width:100%;
    height:auto;
    background: url('../images/Picture123.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /*background-attachment: fixed;*/
}
.bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
}

#getss{
    font-size: 7vw; 
    font-weight: 600; 
    line-height: 35px;
}

#getsss{
    font-size: 4vw; 
    font-weight: 600;
}

.get-started{
    color:white; 
    margin-right: 10px;
    border-radius:2px;
    padding-left: 25px;
    padding-right: 25px;
}

.get-a-demo{
    border-radius:2px; 
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.figure-ab{
    width: 23%; 
    padding: 0;
    margin: 0;
}

.ml-3{
    margin-left: 3px;
    text-align: right;
}

.dashv{
    width: 28px;
    height: 7px;
    background: #17a2b8;
    margin-bottom: 10px;
}

.img-work{
    border-radius: 10%;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
 }
 
 .p-60{
     padding-top: 70px;
 }
 
 .p-400{
     padding-bottom: 30px;
 }
 
 .font-11{
     font-size: 13px;
 }
 
 .font-9{
     font-size: 12px;
 }
 
 .card-height{
     height: 260px;
 }
 
 .lister{
     list-style: outside circle url('../images/check.png');
 }
 
 .listr{
     list-style: inside circle url('../images/dot-2.png');
     margin-right: 10px;
     padding: 8px;
 }
 
 .line-h{
     line-height: 30px;
 }
 
 .font-vw{
     font-size: 4vw;
 }
 
 .my1-vw{
     padding-top: 5.5vw;
     padding-bottom: 4vw;
 }
 
 .padd-min{
     margin: 2%;
 }
 
 .effect:hover{
     background: #f5f5f5;
 }
 
 .mr-pro{
     margin-left: 15px;
 }
 
 .show-none{
    display: none;
 }
 
 .box{
        /*color: #fff;*/
        /*padding: 20px;*/
        display: none;
        padding-top: 20px;
    }
.red{ }
.green{ }
.blue{ }

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.l-mr{
    margin-left: 2%;
}

.mle-2{
    margin-left: 5%;
}

label {
    cursor: pointer;
}

svg {
    width: 2rem;
    height: 2rem;
    padding: 0.15rem;
}


/* hide radio buttons */

input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
}

/* hide source svg */

.star-source {
    width: 0;
    height: 0;
    visibility: hidden;
}


/* set initial color to transparent so fill is empty*/

.star {
    color: transparent;
    transition: color 0.2s ease-in-out;
}


/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/

.star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

label:hover ~ label .star,
svg.star:hover,
input[name="star"]:focus ~ label .star,
input[name="star"]:checked ~ label .star {
    color: #d62a9d;
}

input[name="star"]:checked + label .star {
    animation: starred 0.5s;
}

input[name="star"]:checked + label {
    animation: scaleup 1s;
}

@keyframes scaleup {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes starred {
    from {
        color: #600040;
    }
    to {
        color: #d62a9d;
    }
}

.number {
    position: absolute;
    bottom: 25px;
    left: 3px;
    width: 20px;
    height: 20px;
    padding-right: 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color: #2c3e50;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -105px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/*navbar-right=======END========*/

/*sidebar-toggle=============*/
.sidebar-toggle:hover, .sidebar-toggle:focus {
    color: #fff;
    text-decoration: underline;
}


/*sidr-NAVBAR=======START========*/
.navbar-nav-1{width: 100%;background-color:#34495E;height:auto;overflow: hidden;z-index: 1020;position: relative;}

.side-user {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: none !important;
    border-bottom: 1px solid #142638;
    text-align: center;
}
.close-btn {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 31px;
    top: 0px;
    left: 223px;    
    display: none;
    padding: 0px;
    cursor: pointer;
}
.close-btn .fa-window-close{color:#fff;font-size: 25px;}
.welcome {
    margin: 0;
    font-style: italic;
    color: #9aa4af;
}

.name {
    margin: 0;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ccd1d7;
}
.side-user a{
    color:#fff;
}
.nav-search{border-top: 1px solid #54677a;}
.nav-search .form-control{border: 1px solid #000;border-radius: 0px;}
.nav-search .btn{border: 1px solid #000;border-radius: 0px;}

.dashboard>a{
    color:#fff;
}
.side-nav li {
    border-top: 1px solid #54677a;
    border-bottom: 1px solid #142638;
}

.side-nav>li>a:active {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    background-color: #34495e;
}

.panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.panel>a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.panel>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: darkcyan;
    background: black;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3d566e;
}
/*sidr-NAVBAR=======END========*/
@media (min-width: 768px){

    #page-wrapper {

        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #2c3e50;
    }
}

#page-wrapper {
    padding: 0 15px;
    border: none;

}

.date-picker{    
    border-color: #138871;
    color: #fff;
    background-color: #149077;
    margin-top: -7px;
    border-radius: 0px;
    margin-right: -15px;
}

#page-wrapper .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e0e7e8;
    border-radius: 0px;

}




@media (min-width: 768px){
    .circle-tile {
        margin-bottom: 30px;
    }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}



.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}
/*.circle-tile-description {*/
/*    text-transform: uppercase;*/
/*}*/

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
    color: #fff;
}
#datetime{color:#fff;}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}

#fixed-for{
    width: 220px;
    position: fixed;
    z-index: 1;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.bussiness-form .error {
    color: #dc3545;
}